<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex gap-2 w-full">
    <mat-form-field class="flex-1">
      <mat-label>State</mat-label>
      <mat-select formControlName="state">
        @for (state of states; track state) {
        <mat-option [value]="state">{{ state.state }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="flex-1">
      <mat-label>City</mat-label>
      <mat-select formControlName="city">
        @for (city of form.value.state?.cities; track city) {
        <mat-option [value]="city">{{ city.city }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="flex-1">
      <mat-label>Neighborhood</mat-label>
      <mat-select formControlName="neighborhood">
        @for (neighborhood of form.value.city?.neighborhoods; track
        neighborhood) {
        <mat-option [value]="neighborhood">{{
          neighborhood.neighborhood
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button type="submit" [disabled]="!form.valid" mat-icon-button class="mt-2">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</form>
